#need to identify where the script can expect certain files
ensemble="transient"
codebase="ctsm5.3.0"
exp="oaat"
PPE="/glade/u/home/linnia/CLM6-PPE/run_clm/jobscripts/"
SCRIPTS="/glade/work/linnia/ctsm5.3.0/cime/scripts/"
SCRATCH="/glade/derecho/scratch/linnia/"
PROJECT="P93300641"

#the list of paramfiles
paramList="oaat/oaat.txt"

#where to find the parameter files
PARAMS="/glade/work/linnia/CLM6-PPE/CLM6_miniOAAT/paramfiles/"

#options to specify unique namelist_mods for each paramset
# e.g. if you are varying baseflow_scalar
nlmodsFlag=false
NLMODS="/glade/work/linnia/CLM6-PPE/CLM6_miniOAAT/namelist_mods/"

#tethering information
tetherFlag=true
tether=/glade/u/home/djk2120/tether/tether.sh
template=/glade/u/home/linnia/CLM6-PPE/run_clm/jobscripts/derecho.template
CDIR="/glade/work/linnia/${codebase}/cime/scripts/transient/basecases/"
cases=($CDIR$codebase"_"$ensemble"_AD" \
       $CDIR$codebase"_"$ensemble"_SASU" \
       $CDIR$codebase"_"$ensemble"_postSASU" \
       $CDIR$codebase"_"$ensemble \
       #$CDIR$codebase"_"$ensemble"_SSP370"  \  
        )
segments=($CDIR$codebase"_"$ensemble"_AD" \
          $CDIR$codebase"_"$ensemble"_SASU" \
          $CDIR$codebase"_"$ensemble"_postSASU" \
          $CDIR$codebase"_"$ensemble \
          $CDIR$codebase"_"$ensemble \
          $CDIR$codebase"_"$ensemble \
          $CDIR$codebase"_"$ensemble \
          $CDIR$codebase"_"$ensemble \
          #$CDIR$codebase"_"$ensemble"_SSP370"  \  
            )
casemods=("none" \
          $PPE$exp"/mods/finidat.sh" \
	  $PPE$exp"/mods/finidat.sh" \
	  $PPE$exp"/mods/finidat.sh" \
	  $PPE$exp"/mods/part1.sh" \
	  $PPE$exp"/mods/part2.sh" \
	  $PPE$exp"/mods/part3.sh" \
	  $PPE$exp"/mods/part4.sh" \
          #$PPE$exp"/finidat.sh"\
        )

#where you want the newcases to go
CASEDIR="/glade/work/linnia/${codebase}/cime/scripts/transient/"

#unique restarts for first stage?
finidatFlag=false



