#need to identify where the script can expect certain files
ensemble="transient"
codebase="BNF_v2.n01_ctsm5.3.012"
exp="wave2"
PPE="/glade/u/home/linnia/ctsm6_ppe/gen_ensembles/jobscripts/"
SCRIPTS="/glade/work/linnia/BNF_v2.n01_ctsm5.3.012/cime/scripts/"
SCRATCH="/glade/derecho/scratch/linnia/"
PROJECT="P93300041"

#the list of paramfiles
paramList="wave2/wave2.txt"

#where to find the parameter files
PARAMS="/glade/work/linnia/CLM6-PPE/ctsm6_wave2/paramfiles/"

#options to specify unique namelist_mods for each paramset
# e.g. if you are varying baseflow_scalar
nlmodsFlag=true
NLMODS="/glade/work/linnia/CLM6-PPE/ctsm6_wave2/namelist_mods/"

#tethering information
tetherFlag=true
tether=/glade/u/home/linnia/ctsm6_ppe/gen_ensembles/jobscripts/tether.sh
template=/glade/u/home/linnia/ctsm6_ppe/gen_ensembles/jobscripts/derecho.template
CDIR="/glade/work/linnia/${codebase}/cime/scripts/transient/basecases/"
cases=($CDIR$codebase"_"$ensemble"_AD" \
       $CDIR$codebase"_"$ensemble"_SASU" \
       $CDIR$codebase"_"$ensemble"_postSASU" \
       $CDIR$codebase"_"$ensemble \
       #$CDIR$codebase"_"$ensemble"_SSP370"  \  
        )
segments=($CDIR$codebase"_"$ensemble"_AD" \
          $CDIR$codebase"_"$ensemble"_SASU" \
          $CDIR$codebase"_"$ensemble"_postSASU" \
          $CDIR$codebase"_"$ensemble \
          $CDIR$codebase"_"$ensemble \
          $CDIR$codebase"_"$ensemble \
          $CDIR$codebase"_"$ensemble \
          #$CDIR$codebase"_"$ensemble"_SSP370"  \  
            )
casemods=("none" \
          $PPE$exp"/mods/finidat.sh" \
	  $PPE$exp"/mods/finidat.sh" \
	  $PPE$exp"/mods/finidat.sh" \
	  $PPE$exp"/mods/part1.sh" \
	  $PPE$exp"/mods/part2.sh" \
	  $PPE$exp"/mods/part3.sh" \
          #$PPE$exp"/finidat.sh"\
        )

#where you want the newcases to go
CASEDIR="/glade/work/linnia/${codebase}/cime/scripts/transient/"

#unique restarts for first stage?
finidatFlag=false

